@use '@carbon/react';

.App {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

.cds--row {
  display:block;
}
.cds--content {
  padding: 0px;
}
